.idea/
.gradle/
*.iml
build/
out/
log/
atlassian-ide-plugin.xml
*.local.properties
coverage-error.log
*OverallTestPieChart.jpg
*TestDistributionChart.jpg
.classpath
.project
.settings/*
logback-test.xml
*.rec
*.csv
classes/
docker-compose.override.yml
.DS_Store
